* {
    font-family: arial;
}

.clickableCity {
    cursor: pointer;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    height: 220px;
    color: #f4df42;
}


.cityname {
    position: relative;
    font-size: 55px;
    top: 40%;
}

.weatherdetails {
    position: relative;
    font-size: 30px;
    margin-left: 37%;

}

.weatherdetails > div {
    margin-bottom: 5px;
    text-align: center;
}

.weatherdetails > div > span {
    text-align: center;
    margin-right: 10px;
}

.favoriteButton {
    position: relative;
    text-align: center;
    margin-left: 85%;
    bottom: 40%;
    display: flex;   
    align-items: center;
    justify-content: center;
}

.favorite  {
    transform: scale(2);
}


