.searchForm {
    font-family: Arial;
    font-size: 30px;
    height: 40px;
    width: 500px;
}

.search {
    margin-top: 40px;
    text-align: center;
}

.clearSearch {
    color: red;
    position: relative;
}

.clearButton {
    margin-top: 9px;
    display: inline-block;
}

.searchResult {
    margin-top: 50px;
}
